<div class="modal">
  <div class="modal-content">
    <form [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
      <p>{{ formType === "UPDATE" ? "Update Task" : "Add New Task" }}</p>
      <div>
        <label for="task-name">Task Name</label>
        <input id="task-name" formControlName="name" />
        @if(taskForm.get('name')?.invalid && taskForm.get('name')?.touched){
        <div>Task Name is required</div>
        }
      </div>
      <div>
        <label for="task-description">Task Description</label>
        <input id="task-description" formControlName="description" />
      </div>
      <div>
        <label for="task-due-date">Task Due Date</label>
        <input id="task-due-date" type="date" formControlName="dueDate" />
        @if (taskForm.get('dueDate')?.invalid &&
        taskForm.get('dueDate')?.touched) {
        <div>Due Date is required</div>
        }
      </div>
      <div>
        <button class="cancel-button" type="button" (click)="handleCancel()">
          Cancel
        </button>
        <button
          class="submit-button"
          type="submit"
          [disabled]="taskForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
