<div class="task-list-container">
  <div class="heading">
    <h3>Tasks</h3>
    <div>
      <span class="status-dot in-progress"></span>In progress
      <span class="status-dot completed"></span>Completed
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <label for=""
            ><input type="checkbox" aria-label="Select task" />Design
            wireframe</label
          >
        </td>
        <td>In Progress</td>
        <td>2024-10-01</td>
      </tr>
      <tr>
        <td>
          <label for=""
            ><input type="checkbox" aria-label="Select task" />Design
            backend</label
          >
        </td>
        <td>In Progress</td>
        <td>2024-11-01</td>
      </tr>
      <tr>
        <td>
          <label for=""
            ><input type="checkbox" aria-label="Select task" checked />Develop
            frontend</label
          >
        </td>
        <td>In Progress</td>
        <td>2024-06-01</td>
      </tr>
    </tbody>
  </table>
</div>
